<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="css/SpringBoot.css"/>
    <title>Rico</title>
</head>
<body>
<div th:insert="thymeleaf_header :: header"></div>

<div class="container-fluid divmain">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 divleft">
            <div class="media textdiv" th:each="blogg:${limit.getBlogs()}">
                <!--<div class="media-left" >
                    <a th:href="@{'/details/'+${blogg.getId()}}">
                        <img class="media-object" src="image/1.png">
                    </a>
                </div>-->
                <div class="align-items-center">
                    <span class="label label-warning" >原创</span>
                    <a th:href="@{'/details/'+${blogg.getId()}}" th:text="${blogg.getTitle()}">
                    </a>
                </div>
                <div class="media-body">
                    <!--  <h3><span th:text="${blogg.getId()}"></span></h3>-->
                    <!--                    <h4 class="media-heading" >
                                            <a th:text="${blogg.getTitle()}" th:href="@{'/details/'+${blogg.getId()}}"></a>
                                        </h4>-->
                    <a th:text="${blogg.getText()}" th:href="@{'/details/'+${blogg.getId()}}"></a>
                    <br/>
                    <span th:text="${blogg.getDate()}"></span>
                </div>
            </div>
        </div>
        <div class=" col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
            <!--            <h3>Rico'style</h3>
                        welcome to rico blog<br>
                        热门文章<br>
                        page<br>
                        lose<br>
                        jack<br>-->
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    Cras justo odio
                </a>
                <a href="#" class="list-group-item ">welcome to rico blog</a>
                <a href="#" class="list-group-item">热门文章</a>
                <a href="#" class="list-group-item">Balabala</a>
                <a href="#" class="list-group-item">Style</a>
            </div>
        </div>
    </div>
    <div class="container-fluid divmain">
        <div class="row">
            <nav aria-label="Page navigation" class="col-lg-9 col-md-9 col-sm-12 col-xs-12 text-center">
                <ul class="pagination" >
                    <li th:if="${limit.getPage()!=1}">
                        <a th:href="@{'?page='+${limit.getPage()-1}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a th:href="@{'?page='+${limit.getPage()}}" th:text="${limit.getPage()}"> </a></li>
                    <li><a th:href="@{'?page='+${limit.getPage()+1}}" th:text="${limit.getPage()+1}"> </a></li>
                    <li><a th:href="@{'?page='+${limit.getPage()+2}}" th:text="${limit.getPage()+2}"> </a></li>
                    <!-- <li><a href="?page=2">2</a></li>
                     <li><a href="?page=3">3</a></li>
                     <li><a href="?page=4">4</a></li>
                     <li><a href="?page=5">5</a></li>-->
                    <li th:if="${limit.getPage()!=limit.getTotal()}">
                        <a th:href="@{'?page='+${limit.getPage()+1}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<script
        src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>